.hero {
    width: 100%;
    background-color: var(--color-eggshell-white);

    .main-content {
        max-width: var(--max-width);
        padding: 0 var(--default-spacing);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: var(--default-spacing);
    }

    .profile-copy {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .greeting {
        font-size: 2rem;
    }

    .profile-img {
        flex: 1;
        margin: 0 auto;
    }

    h1 {
        color: var(--color-accent);
        font-size: 3rem;
    }

    .subtitle {
        font-weight: 700;
        font-size: 1.25rem;
    }

    .description {
        font-size: 1.5rem;
        padding: calc(var(--default-spacing) * 2) 0;
    }

    .cta-group {
        gap: var(--default-spacing);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    @media(width <= 992px) {
        .main-content {
            flex-direction: column;
        }

        .profile-copy {
            padding: 20px 0;
        }

        .greeting {
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        .subtitle {
            text-align: center;
        }
    }

    @media(width <= 768px) {
        .cta-group {
            flex-direction: column;
            align-items: center;
        }
    }
}