.navigation-container {
    background-color: var(--color-primary);

    .navigation {
        max-width: var(--max-width);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .logo {
        flex: 1;
        padding: var(--default-spacing) 0;

        a {
            color: var(--color-content-white);
            padding: var(--default-spacing);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .close-navigation {
        display: none;
    }

    .links {
        padding: var(--default-spacing) 0;
    }

    .link-list{
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style: none;

        li {
            display: inline-block;

            &:last-child {
                margin-right: 0;
            }

            a {
                padding: calc(var(--default-spacing) * 0.8);
                text-decoration: none;
                color: var(--color-content-white);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .hamburger-menu {
        display: none;
    }

    .content-overlay {
        background-color: var(--color-charcoal);
        opacity: 75%;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    @media(width <= 768px) {
        .links {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 75%;
            background-color: var(--color-content-white);
            font-size: 2rem;
            padding: 0;
            height: 100vh;

            &.show {
                display: block;
                animation-name: slideInNav;
                animation-duration: 0.25s;
                animation-timing-function: linear;
                z-index: 2;
            }
        }

        .content-overlay {
            &.show {
                display: block;
                animation-name: fadeIn;
                animation-duration: 0.25s;
                animation-timing-function: linear;
                z-index: 1;
            }
        }

        .link-list {
            display: block;
            margin-top: 5rem;
            overflow-x: hidden;

            li {
                border-top: 1px solid var(--color-charcoal);
                width: 100%;
                
                a {
                    display: block;
                    color: var(--color-charcoal);
                }
            }
        }

        .hamburger-menu {
            display: block;
            padding: var(--default-spacing);
        }

        .close-navigation {
            display: block;
            float: right;
            padding: var(--default-spacing);
            font-size: 1rem;
        }
    }
}

@keyframes slideInNav {
    0% {
        transform: translateX(-768px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: (75%);
    }
}