.contact {
    .main-content {
        max-width: var(--max-width);
        padding: 0 var(--default-spacing);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: var(--default-spacing);
    }

    h1 {
        color: var(--color-primary);
        font-size: 3rem;
        margin: 0 auto;
        width: fit-content;
    }

    .main-content > * {
        margin: 0 auto;

    }

    p {
        font-size: 1.5rem;
    }

    .mb-20 {
        margin-bottom: var(--default-spacing);
    }

    .accent {
        color: var(--color-accent);
        font-weight: bold;
        font-style: italic;
    }
}