.socialMediaIcons {
    ul {
        display: flex;
        flex-direction: row;
        gap: var(--default-spacing);
    }

    li {
        list-style: none;
    }

    img {
        max-height: 2rem;
        max-width: 2rem;
        height: 100%;
        width: 100%;
    }
}