.socialMediaIcons {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--default-spacing);
    }

    li {
        list-style: none;
    }

    img {
        height: 2rem;
        width: 2rem;
    }
}