@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url(/portfolio/fonts/Poppins-Regular.ttf) format('truetype');
}

:root {
  --color-eggshell-white: #f6f6f6;
  --color-content-white: #fffffe;
  --color-primary: #68020F;
  --color-accent: #f21137;
  --color-charcoal: #030303;

  --max-width: 1280px;
  --default-spacing: 20px;

  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: var(--color-charcoal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-eggshell-white);
}